name: Publish

on:
  push:
    tags:
      - "*"

jobs:
  check-versions:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Check versions match
        run: |
          echo "package.json version: v$(jq -r .version package.json)"
          echo "git tag: ${{ github.ref }}"
          if [ "v$(jq -r .version package.json)" != "${{ github.ref_name }}" ]; then
            echo "package.json version does not match git tag"
            exit 1
          fi
  publish-vsce:
    runs-on: ubuntu-latest
    needs: check-versions
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install dependencies
        run: yarn install
      - name: Publish
        run: yarn run publish:vsce
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}
  publish-ovsx:
    runs-on: ubuntu-latest
    needs: check-versions
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install dependencies
        run: yarn install
      - name: Publish
        run: yarn run publish:ovsx
        env:
          OVSX_PAT: ${{ secrets.OVSX_PAT }}
